@import "~normalize.css";
@import "variables";
@import "projects";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color:rgba(0,0,0,0);
  -webkit-text-size-adjust:none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: opacity 0.2s ease-in-out;
}

*::selection {
  background: rgba(0, 0, 0, .1);
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'San Francisco', -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
  background-color: $background-color;
  color: $text-base-color;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  box-shadow: inset 0 -0.3em 0 0 rgba($primary, 0.26), 0 0.1em 0 0 rgba(darken($primary, 10%), 0.26);
  transition: box-shadow 0.14s,-webkit-box-shadow 0.14s;
  transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

  &:hover {
    box-shadow: inset 0 -1.2em 0 0 rgba($primary, 0.26), 0 0.1em 0 0 rgba(darken($primary, 10%), 0.26);
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;

  @media (max-width: 1600px) and (min-width: 1200px) {
    max-width: 1000px;
  }

  @media (max-width: 1200px) {
    max-width: 80%;
  }

  @media (max-width: 500px) {
    margin: 0 auto 20px;
  }

  &--full-screen {
    max-width: 100%;
    min-height: 100vh;
  }
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 25px 75px 0 75px;

  @media (max-width: 1024px) {
    display: block;
    text-align: center;
  }

  &__logo,
  &__navigation {
    flex: 1 1 auto;
  }

  &__logo {
    display: inline-block;
    flex: 1 1 auto;
  }

  &__navigation {
    text-align: right;
    line-height: 48px;

    @media (max-width: 1024px) {
      display: block;
      margin-top: 12px;
      text-align: center;
      line-height: 1;
    }
  }
}

.logo {
  &__link {
    display: inline-block;
    box-shadow: none;

    .curly-brackets,
    .colon,
    .letter {
      fill: #ebebec;
      transition: fill 0.12s ease-in-out;
    }

    &:hover {
      box-shadow: none;

      .curly-brackets {
        fill: $dark-grey;
      }

      .colon,
      .letter {
        fill: $primary;
      }
    }
  }
}

.navigation {
  &__element {
    color: rgba($text-base-color, 0.54);
    font-size: 1.3rem;
    font-weight: 400;
    text-transform: uppercase;

    &--selected {
      color: rgba($text-base-color, 1);
    }

    &:not(:first-child) {
      margin-left: 35px;
    }
  }
}

.hero {
  padding: 120px 0;

  &__title {
    max-width: 360px;
    font-size: 45px;
    font-weight: 300;
    line-height: 53px;
  }

  &__introduction {
    max-width: 360px;
    font-size: 1.8rem;
    line-height: 26px;
  }
}

.highlight {
  font-style: normal;
  color: $primary;
}

.footer {
  padding: 60px 0 40px;
  color: rgba($text-base-color, 0.54);
  font-size: 1.3rem;
  text-transform: uppercase;

  .container {
    display: flex;
    flex-direction: row;

    @media (max-width: 1024px) {
      display: block;
      text-align: center;
    }
  }

  &__love,
  &__copyright {
    flex: 1 1 auto;
  }

  &__copyright {
    text-align: right;

    @media (max-width: 1024px) {
      text-align: center;
    }
  }
}

.content {
  &--projects-list {
    a {
      &,
      &:hover {
        box-shadow: none;
      }
    }
  }
}


